* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo img {
  height: 32px;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

header {
  background-color: gray;
  color: white;
}
