* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1000px;
  margin: auto;
}

.logo img {
  height: 32px;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
}

header {
  background-image: url(media/headphones_hero_1.jpg);
}

@media screen and (max-width: 480px) {
  nav {
    justify-content: center;
    position: relative;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    background-color: grey;
  }

  .hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 21px;
    cursor: pointer;
    top: 9px;
  }

  .hamburger span {
    width: 26px;
    height: 3px;
    background: white;
    transition: 0.3s ease;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
